<nav class="header__menu">
	{%- if section.settings.menu != blank -%}
		<ul class="list-menu list-menu--inline list-unstyled" role="list">
			{%- for link in section.settings.menu.links -%}
				<li class="{% if link.links != blank %}list-menu-has-child{% endif %}{% if link.active %} current-link{% endif %}" data-hover-opacity="1">
						{%liquid
							for block in section.blocks
								assign menu_trigger = block.settings.menu_trigger | handle | strip
								if link.links != blank
									if link.handle == menu_trigger
										render 'header-mega-menu' links: link.links, block: block , link: link
										break
									elsif forloop.last
										render 'header-link' link: link
										render 'submenu' link: link
									endif
								elsif forloop.last
									render 'header-link' link: link
								endif
							else
								if link.links != blank
									render 'header-link' link: link
									render 'submenu' link: link
								else
									render 'header-link' link: link
								endif
							endfor
						%}
				</li>
			{%- endfor -%}
		</ul>
	{%- endif -%}
</nav>